:root {
  --background: #f3efe0;
  --textgray: #434242;
  --textblack: #222222;
  --textturquoise: #22a39f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 92px;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 16px 10px -18px #816780;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-right {
  justify-content: flex-start;
}

.navbar-left {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 50px;
  justify-content: flex-end;
}

ul a {
  color: var(--text-blue);
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 35px;
  width: 100px;
}

.toggleimg {
  display: none;
}

#toggle-menu {
  display: none;
}

/* envío */
.envio h1 {
  font-size: 20px;
  background-color: #22a39f;
  color: #f3efe0;
  margin-top: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1:hover {
  color: #222222;
  background-color: #ffff00;
}

/* Hero section - Carrusel */

.carrousel img {
  width: 100%;
}

/* descuento */

.descuento {
  font-size: 24px;
  color: rgb(83, 228, 54);
  background-color: yellow;
  animation: colorChange 1s infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes colorChange {
  0%,
  100% {
    color: rgb(83, 228, 54);
    background-color: yellow;
  }
  50% {
    color: rgb(187, 69, 69);
    background-color: rgb(255, 178, 238);
  }
}

/* nosotros */
#nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.nosotros-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nosotros-card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--background);
  border-radius: 10px;
  gap: 20px;
  padding: 20px;
}

.nosotros-card img {
  width: 50px;
}

/* section juegos */

#shop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

#shop h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 40px;
}

/* categories */
.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.category {
  background: var(--textturquoise);
  border: none;
  padding: 10px 15px;
  color: var(--background);
  border-radius: 10px;
  cursor: pointer;
}

.category:hover {
  background: var(--textgray);
}

.active {
  background: var(--background);
  color: var(--textturquoise);
}

/* products */
.games-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Muestra tres columnas por fila */
  gap: 20px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 40px 0;
  max-width: 1200px;
}

.product {
  width: 250px;
  height: 380px;
  text-align: center;
  background: var(--background);
  border-radius: 10px;
  gap: 40px;
  padding: 20px;
}

.productImg-Container img {
  max-width: 200px; /* Establece un tamaño máximo del 100% del contenedor */
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.product-top,
.product-mid,
.product-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-top h3 {
  font-size: 16px;
  font-weight: 600;
}
.product-top p,
.product-user p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-gray);
}

.product-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-mid span {
  font-weight: 800;
}

.product-offer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-user img {
  width: 50px;
  border-radius: 200px;
}

.offer-time {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
}

.offer-time img {
  width: 20px;
}

.btn-add,
.btn-buy,
.btn-delete {
  cursor: pointer;
  padding: 10px 35px;
  color: var(--bg-white);
  border-radius: 10px;
  border: none;
  transition: 0.3s all ease-out;
}

.btn-buy,
.btn-add {
  background: var(--textturquoise);
  padding: 10px;
  color: var(--background);
}

.btn-add:hover {
  background: var(--textblack);
}

.btn-buy,
.btn-delete {
  width: 100%;
}

.btn-delete {
  border: 2px solid var(--primary);
  background-color: transparent;
}

.btn-delete:hover {
  background: var(--primary);
  transition: 0.3s all ease-in;
}

.btn-load {
  background: var(--textturquoise);
  border: 1px solid var(--electric);
  padding: 10px 35px;
  color: var(--bg-white);
  border-radius: 10px;
  cursor: pointer;
  color: var(--background);
}

.btn-load:hover {
  background: var(--textblack);
}

.hidden {
  display: none;
}

/* Contacto */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: var(--background);
  background-size: cover;
}

.contactform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

#contact h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--textblack);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--textblack);
  background-size: cover;
  color: white;
}

.add-modal {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  background-color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  transform: translateY(200%);
}

.active-modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}

/* carrousel */

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#carrousel {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.slides {
  overflow: hidden;
  animation-name: fade;
  animation-duration: 1s;
  display: none;
}

img {
  width: 100%;
}

#dot {
  margin: 0 auto;
  text-align: center;
}
.dot {
  display: inline-block;
  border-radius: 50%;
  background: #d3d3d3;
  padding: 8px;
  margin: 10px 5px;
}

.active-dot {
  background: var(--textturquoise);
}

@media (max-width: 567px) {
  #slider {
    width: 100%;
  }
}
